<!-- Navbar -->
<nav class="navbar">
    <div class="navbar-container">
        <a href="index.html" class="navbar-logo" title="Ir al Inicio">
            <img src="images/logo.jpg" alt="RDV Logo - Fundación Red de Vida">
        </a>
        <ul class="nav-menu" id="navMenu">
            <li class="nav-item"><a href="index.html" class="nav-links">🏠 Inicio</a></li>
            <li class="nav-item"><a href="sobre-nosotros.html" class="nav-links">Sobre nosotros</a></li>
            <li class="nav-item"><a href="galeria.html" class="nav-links">Galería</a></li>
            <li class="nav-item"><a href="contacto.html" class="nav-links">Contacto</a></li>
            <!-- <li class="nav-item"><a href="apadrina.html" class="nav-links">Apadrina</a></li> -->
            <li class="nav-item nav-item-donar-mobile"><a href="donar.html" class="nav-links nav-links-donar">Donar</a></li>
        </ul>
        <div class="navbar-right">
            <a href="donar.html" class="nav-links nav-links-donar">Donar</a>
            <div class="navbar-social">
                <a href="https://www.instagram.com/fundacionreddevida_/" target="_blank" title="Instagram" class="social-instagram"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/funreddevida/" target="_blank" title="Facebook" class="social-facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.youtube.com/channel/UCu2BhJERmo24n57K730B6gQ" target="_blank" title="YouTube" class="social-youtube"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="menu-icon" id="menuIcon">☰</div>
    </div>
</nav>
